<section class="journey section" id="journey">
    <h2 class="section__title">Parcours</h2>
    <span class="section__subtitle">Le chemin que j'ai parcouru ...</span>

    <div class="journey__container container">
        <div class="journey__tabs">
            <div class="journey__button button--flex journey__active" data-target="#work">
                <i class="fas fa-briefcase journey__icon"></i>
                Expériences
            </div>

            <div class="journey__button button--flex" data-target="#education">
                <i class="fas fa-graduation-cap journey__icon"></i>
                Formations
            </div>
        </div>

        <div class="journey__sections">
            <!-- XP -->
            <div class="journey__content journey__active" data-content id="work">
                <!-- XP  -->

                {{ range $index, $item := .Site.Data.schalappe.experience }}
                <div class="journey__data">
                    {{ if modBool $index 2 }}
                    <div></div>

                    <div>
                        <span class="journey__rounder"></span>
                        {{ if not $item.current }}
                        <span class="journey__line"></span>
                        {{ end }}
                    </div>
                    {{ end }}

                    <div>
                        <h3 class="journey__title">{{ $item.position }}</h3>
                        <span class="journey__subtitle">{{ $item.company }} - {{ $item.city }}</span>
                        <div class="journey__calendar">
                            <i class="far fa-calendar-alt"></i>
                            {{ $item.from }} - {{ $item.to }}
                        </div>
                    </div>

                    {{ if not (modBool $index 2) }}
                    <div>
                        <span class="journey__rounder"></span>
                        {{ if not $item.current }}
                        <span class="journey__line"></span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>

            <!-- School -->
            <div class="journey__content" data-content id="education">
                <!-- School -->
                {{ range $index, $item := .Site.Data.schalappe.education }}
                <div class="journey__data">
                    {{ if modBool $index 2 }}
                    <div></div>

                    <div>
                        <span class="journey__rounder"></span>
                        {{ if not $item.current }}
                        <span class="journey__line"></span>
                        {{ end }}
                    </div>
                    {{ end }}

                    <div>
                        <h3 class="journey__title">{{ $item.level }} <br> {{ $item.program }}</h3>
                        <span class="journey__subtitle">{{ $item.institution }} - {{ $item.city }}</span>
                        <div class="journey__calendar">
                            <i class="far fa-calendar-alt"></i>
                            {{ $item.from }} - {{ $item.to }}
                        </div>
                    </div>

                    {{ if not (modBool $index 2) }}
                    <div>
                        <span class="journey__rounder"></span>
                        {{ if not $item.current }}
                        <span class="journey__line"></span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>