<!-- Skill -->
<section class="skills section" id="skills">
    <h2 class="section__title">Compétences</h2>
    <span class="section__subtitle">Ce que j'ai acquis ...</span>

    <div class="skills__container container grid">
        <!--Skill n°1 -->
        <div class="skills__content skills__open">
            <div class="skills__header">
                <i class="far fa-keyboard skills__icon"></i>

                <h1 class="skills__title">Langages de programmation</h1>

                <i class="fas fa-chevron-down skills__arrow"></i>
            </div>
            <div class="skills__list skills__icons grid">
                {{ range $key, $value := .Site.Data.schalappe.languages }}
                <div class="skills__data">
                    <span class="{{ $value }} skills__icon"></span>
                    <h3 class="skills__name">{{ $key }}</h3>
                </div>
                {{ end }}
            </div>
        </div>

        <!--Skill n°2 -->
        <div class="skills__content skills__close">
            <div class="skills__header">
                <i class="fas fa-tools skills__icon"></i>

                <h1 class="skills__title">Outils de programmation</h1>

                <i class="fas fa-chevron-down skills__arrow"></i>
            </div>
            <div class="skills__list skills__icons grid">
                {{ range $key, $value := .Site.Data.schalappe.tools }}
                <div class="skills__data">
                    <span class="{{ $value }} skills__icon"></span>
                    <h3 class="skills__name">{{ $key }}</h3>
                </div>
                {{ end }}
            </div>
        </div>

    </div>
</section>